@import './base.css';

#app {
  width: 100%;
  margin:0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsl(0, 0%, 100%);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    /*place-items: center*/;
  }

  #app {
    display: flex;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
